.card {
	background: #FFFFFF;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin: 10px;
  padding: 15px 5px;
  max-width: 500px;

  transition: all 0.3s ease-in-out;
}

.card.Red { background-color: #F44336 }
.card.Pink { background-color: #E91E63 }
.card.Purple { background-color: #9C27B0 }
.card.DeepPurple { background-color: #673AB7 }
.card.Indigo { background-color: #3F51B5 }
.card.Blue { background-color: #2196F3 }
.card.LightBlue { background-color: #03A9F4 }
.card.Cyan { background-color: #00BCD4 }
.card.Teal { background-color: #009688 }
.card.Green { background-color: #4CAF50 }
.card.LightGreen { background-color: #8BC34A }
.card.Lime { background-color: #CDDC39 }
.card.Yellow { background-color: #FFEB3B }
.card.Amber { background-color: #FFC107 }
.card.Orange { background-color: #FF9800 }
.card.DeepOrange { background-color: #FF5722 }
.card.Brown { background-color: #795548 }

.card.LightBlue input, .card.LightBlue button,
.card.Cyan input, .card.Cyan button,
.card.LightGreen input, .card.LightGreen button,
.card.Green input, .card.Green button,
.card.Lime input, .card.Lime button,
.card.Yellow input, .card.Yellow button,
.card.Amber input, .card.Amber button,
.card.Orange  input, .card.Orange button{
  color: #000;
}

.card.Red input, .card.Red button,
.card.Pink input, .card.Pink button,
.card.Purple input, .card.Purple button,
.card.DeepPurple input, .card.DeepPurple button,
.card.Indigo input, .card.Indigo button,
.card.Blue input, .card.Blue button,
.card.Teal input, .card.Teal button,
.card.DeepOrange input, .card.DeepOrange button,
.card.Brown input, .card.Brown button,
.card.BlueGray input, .card.BlueGray button {
	color: #FFF;
}

.card-title {
	color: #333333;
	font-family: 'Impact';
	font-size: 20px;
	padding: 6px;
  width: 100%;
  outline: none;
  text-transform: uppercase;

  transition: all 0.3s ease-in-out;
}

.card-description {
	color: #333333;
	font-size: 16px;
	padding: 6px;
  width: 100%;
  outline: none;

  transition: all 0.3s ease-in-out;
}

.button-component.card-button {
  font-size: 35px;
  line-height: 35px;

  transition: all 0.3s ease-in-out;
}

.card-title::-webkit-input-placeholder, .card-description::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.card-footer {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
